
@model Employee
    @{ 
        ViewBag.Title = "Home";
    }
   
@section Styles{
    
    <style>
        .input-validation-error{border :1px solid red}
        .field-validation-error {
            color: red;
        }
    </style>
    
    }
    <h2>Welcome</h2>