
<!DOCTYPE html>
<html>
<head>
    <title>Form</title>
</head>
<body>
    <form method="post">
      Your Name:  <input type="text" name="name" /><br />
      Your Email:  <input type="email" name="email" /><br />
      Your Phone:   <input type="number" name="phone" /><br />
      Will you attend?  
         <select name="choice">
            <option  selected disabled>Choose an option</option>
             <option value="no">No</option>
            <option value="yes">Yes</option>
        </select><br />
        <input type="submit" value="Submit" />
    </form>

</body>
</html>